//============= global ================//
@use '../helpers/*helpers' as helper ;

	html{
		font-family: 100%;
		box-sizing: border-box;

		::selection{
			background: transparent;
			color: transparent;
		}
	}
	
	*,*::after,*::before{
		box-sizing: inherit;
		margin: 0;
		padding: 0;
	}

	a{
		text-decoration: none;
	}


	li{
		list-style: none;
	}

