//============= global ================//

	html{
		font-family: 100%;
		box-sizing: border-box;
	}
	
	*,*::after,*::before{
		box-sizing: inherit;
		margin: 0;
		padding: 0;
	}
	
	body{
		background: grey;
		font-family: 'Kumbh sans', sans-serif;
	}

	a{
		text-decoration: none;
		color: white;
	}


	li{
		list-style: none;
	}

