// ================= mixins ==============//

@use './variables' as var;


//media queries 
@mixin media-desktop {
	@media (max-width: var.$desktop) {
		@content;
	}
}

@mixin media-laptop {
	@media (max-width: var.$laptop) {
		@content;
	}
}

@mixin  media-tablet {
	@media (max-width: var.$tablet) {
		@content;
	}
}

@mixin media-mobile {
	@media (max-width: var.$mobile){
		@content;
	}
}

// animation for basket items 
@mixin animation(){
	@keyframes fade-in {
		from{
			transform: translateY(-150px);
		}
		to{
			transform: translateY(0px);
		}
	}
}

// animation for side bar
@mixin side-bar ($start, $end){
	@keyframes side-bar {
		0%{
			transform: $start;
		}100%{
			transform: $end;
		}
	}
}