
//header 
header.header
	//nav
	nav.nav

		//nav-bar 
		.nav__bar
			i(class="fas fa-bars")

		//links
		.nav__links

			h1.nav__name sneakers
			//main nav links 
			table
				tr
					-const navLinks = ['collections','men','women','about'];
						each item in navLinks 
							th
								a(href="#" class="links--black links--border")=  item
		//right nav-links 
		.user.cart
			.user__cart.user--black#js-cart
				a(href="#")
					i.fas.fa-shopping-cart
				span.user__count#js-count 1
			.user__photo.user--zoom 
				img(src="/build/Assets/images/image-avatar.png", alt="user.jpg")

			