
//-nav links mixin
mixin links
	-const navLinks = ['collections','men','women','about'];
	each item in navLinks 
		th
			a(href="#" class="links--black links--border")=  item

//- header 
header.header
	//- nav
	nav.nav

		//- nav-bar 
		.nav__bar.nav--border
			i(class="fas fa-bars")#js-menu-bar

		//- links
		.nav__links
			h1.nav__name sneakers
			//- main nav links
			table
				tr 
					//- mixin for links 
					+links 

		//- right nav-links 
		.user.cart
			.user__cart.user--black#js-cart
				a(href="#")
					i.fas.fa-shopping-cart
				span.user__count#js-count 1
			.user__photo
				img(src="/build/Assets/images/image-avatar.png" class="user--zoom", alt="user.jpg")

//- side bar
.nav__side.side-out#js-nav-side
	i.fas.fa-times#js-close
	ul 
		+links
				