
//- gallery pictures
mixin gallery()
	.picture__list#js-list


mixin bf-gallery()
	-for(let i = 1  ; i <= 4 ; i++)
		img(src=`/build/Assets/images/image-product-${i}.jpg`, alt="product.jpg")

//- arrows for pictures
mixin bf-arrows ()
	.arrows 
		i.fas.fa-angle-left#js-arrL-bf
		i.fas.fa-angle-right#js-arrR-bf

mixin mob-arrows()
	.arrows 
		i.fas.fa-angle-left#js-arrL-mob
		i.fas.fa-angle-right#js-arrR-mob

//- before gallery list 
mixin bfList()
	.picture__list#js-bf-list
		-for(let i = 4; i >= 1; i--)
			.bf__pic
				img(src=`/build/Assets/images/image-product-${i}-thumbnail.jpg` alt="product.jpg")
		
//- pictures for products 
main.main 
	.main__gallery
		.gallery__picture#js-gl__pic
			img(src="/build/Assets/images/image-product-1.jpg", alt="product.jpg")
			//- arrows
			+mob-arrows()

		//- gallery pictures
		+gallery
	.product__text
		.product__company
			h3 sneakers company 
		.product__headline 
			h2 fall limited edition sneakers 
		.product__description
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ratione deleniti, vero ad nobis sint corporis fugiat? Illum ad, ea inventore accusantium pariatur corporis, qui incidunt impedit possimus magni tempore.
		.product__price
			.price 	
				p.price__value $125.00
				span.price__discount 50%
			.product__discount
				h5 $250.00 
		.product__cta
			button.cta__minus - 
			span.cta__count#js-count 4
			button.cta__plus +
			button.cta__add 
				i.fas.fa-shopping-cart &nbsp;
				| add to cart 

//- this gallery will get after clicking thumbnail picture
.before__gallery.display#js-bf__gl
	.gallery__main
		//-arrows 
		+bf-arrows()
		.close 
			i.fas.fa-times#js-close
		.main__image#js-bf__con
			.image__scroll#js-scroll
				+bf-gallery()
		+bfList()



