 
 //helper module
 @use '../helpers/*helpers' as helper;

 .header{
	 display: flex;
	 align-items: center;
	 height: helper.convert(80);
	 width: 100%;
	 
	 .nav{
		 display: flex;
		 border-bottom: 1px solid helper.font-light(black,.1);
		 justify-content: space-around;
		 width: inherit;
		 max-width: helper.$laptop;
		 margin: auto;
		 align-items: center;
		 padding: helper.convert(20);
		 position: relative;

		&__bar {
			position: absolute;
			font-size: 1.2rem;
			left: .5rem;
			top: 40%;
			cursor: pointer;

			@media (min-width: helper.$tablet){display: none;}
		}

		 &__links{
			 display: inline-flex;

		a{	  
			margin-right: 1rem;
			text-transform: capitalize;
			color: helper.$grey;
			font-weight: helper.$font-weight-s;
			transition: helper.$transition;
			 }

			 .links--black:hover{
				color: helper.font-light(black, .9);
			}
		 }

		 &__name {
			margin-right: helper.convert(20);
			font-weight: helper.$font-weight-m;
			cursor: pointer;
			font-family: 'Open Sans', sans-serif;
		 }

		 .cart,.user{
			 display: inline-flex;
			 align-items: center;
			 gap: 2rem;

			 &__cart {
				 position: relative;

				a{
					font-size: helper.sum(1,.5);
					color: helper.$grey;
					transition: helper.$transition;
				}
			 }

			 &__detail{
				position: fixed;
				width: 450px;
				max-width: 300px;
				background: helper.$white;
				box-shadow: 0px 2px 10px helper.font-light(black,.5);
				top: 12%;
				right: 12% ;
				height: 250px;
				border-radius: 10px;
				opacity: 0;

				span{
					display: block;
					font-weight: helper.$font-weight-m;
					font-size: helper.$p;
					text-transform: capitalize;
					padding: 10px;
					border-bottom: 1px solid helper.font-light(black,.1);
				}

				.cart__items{
					height: 65%;
					width: 100%;
					overflow: scroll;
					max-height: 1200px;
				}

			.cart__items::-webkit-scrollbar{
					display: none;
				}

				.checkout__cta{
					width: 90%;
					padding: 10px;
					background: helper.$primary;
					border: none;
					border-radius: 10px;
					color: helper.$white;
					font-weight: helper.$font-weight-m;
					cursor: pointer;
					display: block;
					margin: 5px auto;
					text-transform: capitalize;
				}
			 }

			 &--black:hover{
				color: helper.font-light(black,.8);
			}

			 &__photo{
				 height: helper.sum(1,1,1);
				 width: helper.sum(1,1,1);
				 img{
					 border-radius: 50%;
					 border: 2px solid helper.$primary;
					 height: inherit;
					 width: inherit;
				 }
			 }

			 &__count{
				 position: absolute;
				 background: helper.$primary;
				 color: helper.$white;
				 font-weight: helper.$font-weight-s;
				 padding: .2rem;
				 border-radius: 20px;
				 font-size: 10px;
				 top: -50%;
				 right: -8%;
			 }
		 }
	 }
 }


 //media 
 @include helper.media-tablet{
	table{
		display: none;
	}

	.user__photo {
		height: helper.sum(1,1);
		width: helper.sum(1,1);
	}

	.user__cart{
		font-size: 1.2rem;
	}

 }
