 
 // helper module
 @use '../helpers/*helpers' as helper;

 // header 
 .header{
	 display: flex;
	 align-items: center;
	 height: helper.convert(110);
	 width: 100%;
	 position: fixed;
	 z-index: 4;
	 background-color: white;

	 // nav
	 .nav{
		 display: flex;
		 justify-content: space-around;
		 width: inherit;
		 max-width: helper.$laptop;
		 margin: auto;
		 align-items: center;
		 position: relative;
		 height: 100%;
		 border-bottom: 1px solid helper.font-light(black,.1);

		 //nav bar 
		&__bar {
			position: absolute;
			font-size: 1.5rem;
			left: 1.4rem;
			top: 40%;
			cursor: pointer;

			// nav bar hide tablet size
			@media (min-width: helper.$tablet){display: none;}
		}

		&--border:hover{
			border: 1px solid black;
			padding: 5px;
		}

		// nav links 
		 &__links{
			 display: inline-flex;
			 
			 a{	  
				 text-transform: capitalize;
				 color: helper.$grey;
				 font-weight: helper.$font-weight-s;
				 transition: helper.$transition;
				 position: relative;
				 transition: all ease-in 200ms 200ms;
				margin-left: helper.convert(50);

				 :not(:first-child){
					margin-left: helper.convert(30);
				 }
			 }

			 .links--black:hover{
				color: helper.font-light(black, .9);
			}

			.links--border:hover::after{
				content: "";
				height: 4px;
				width: 100%;
				background: helper.$primary;
				position: absolute;
				left: 0;
				bottom: -43px;
			}
		 }

		 // company name
		 &__name {
			margin-right: helper.convert(20);
			font-weight: helper.$font-weight-m;
			cursor: pointer;
			font-family: 'Open Sans', sans-serif;
		 }

		 // cart block
		 .cart,.user{
			 display: inline-flex;
			 align-items: center;
			 gap: 2rem;

			 // cart basket
			 &__cart {
				 position: relative;

				a{
					font-size: helper.sum(1,.5);
					color: helper.$grey;
					transition: helper.$transition;
				}
			 }

			 &__count{
				position: absolute;
				background: helper.$primary;
				color: helper.$white;
				font-weight: helper.$font-weight-s;
				padding: .2rem;
				border-radius: 20px;
				font-size: 10px;
				top: -50%;
				right: -8%;
			}
			
			 &--black:hover{
				color: helper.font-light(black,.8);
			}

			// user photo
			 &__photo{
				 height: helper.sum(1,1,1);
				 width: helper.sum(1,1,1);
				 img{
					 border-radius: 50%;
					 border: 2px solid helper.$primary;
					 height: 100%;
					 width: 100%;
					 cursor: pointer;
				 }
			 }

			 &--zoom:hover{
				transform: scale(2);
			}
		 }
	 }
 }

 //nav side
 .nav__side{
	position: absolute;
	height: 100%;
	width: helper.convert(450);
	width: 70%;
   background: helper.$white;
   top: 0;
   left: 0;
   z-index: 6;
   display: flex;
   justify-content: start;
   align-items: flex-start;
   padding: helper.convert(50) helper.convert(20) helper.convert(20);

   // above tablet size not available 
   @media (min-width: helper.$tablet) {display: none;}
			
   .fas{
	   font-size: helper.mul(1,2);
	   position: relative;
		top: -30px;
		cursor: pointer;
		color: helper.$grey;
   }

	ul {
		line-height: 2.5;
		width: 100%;
		margin-top: helper.sum(1,0);
		
		>*{
			display: block;
			font-size: helper.sum(1,.3);
			font-weight: helper.$font-weight-m;
			color: helper.$black;
			text-transform: capitalize;
		}
	}
}


 //this classes using in javascript effects for header
.overlay{
	background: linear-gradient(to bottom, rgba(black,.3) 60%, transparent);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.side-in{
	transform: translate(0%) !important;
}

.side-out{
	transform: translateX(-100%) !important;
}

.cart__detail{
	position: fixed;
	width: 450px;
	max-width: 300px;
	background: helper.$white;
	box-shadow: 0px 2px 10px helper.font-light(black,.5);
	top: 12%;
	right: 12% ;
	height: 250px;
	border-radius: 10px;
	@include helper.animation();
	margin-top: 2rem;
	animation: fade-in .5s 10ms ease-in;
	z-index: 2;

	span{
		display: block;
		font-weight: helper.$font-weight-m;
		font-size: helper.$p;
		text-transform: capitalize;
		padding: 10px;
		border-bottom: 1px solid helper.font-light(black,.1);
	}

	.cart__items{
		height: 65%;
		width: 100%;
		overflow: scroll;
		max-height: 1200px;
		padding: helper.convert(10);
	}

.cart__items::-webkit-scrollbar{
		display: none;
	}

	.checkout__cta{
		width: 90%;
		padding: 10px;
		background: helper.$primary;
		border: none;
		border-radius: 10px;
		color: helper.$white;
		font-weight: helper.$font-weight-m;
		cursor: pointer;
		display: block;
		margin: 5px auto;
		text-transform: capitalize;
	}
 }

 .no-scroll{
	overflow: hidden;
}

 //media 
 @include helper.media-tablet{
	table{
		display: none;
	}

	.user__photo{
		width: helper.sum(1,1,.5) !important;
		height: helper.sum(1,1,.5) !important;
	}

 }


 @include helper.media-mobile {
	.nav__side{
		ul {
			>*{
				font-size: helper.sum(1,0);
			}
		}
	}

	.nav > .nav__bar{
		top: 20%;
	}
 }