

// ================== home page ================== //

// helper module 
@use '../helpers/*helpers' as help;

// sass module
@use 'sass:math';


// main
.main{
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-top: help.convert(80);

// pictures gallery
	&__gallery{
		display: flex;
		flex-direction: column;
		margin-right: 10px;
		position: relative;
		
		.gallery__picture{

		// hidden arrows
		@include help.arrows(help.$hidden);

		// main picture mixin 
		@include help.main-picture;
		}

		// picture list mixin
		@include help.picture-list;
	}


	// text contents for products
	.product__text{
		width: 100% / 2;
		padding: 10px;

		.product__company{
			font-weight: help.$font-weight-s;
			text-transform: uppercase;
			letter-spacing: .8px;
			color: help.$primary;
			font-size: help.convert(10);
		}

		.product__headline{
			font-size: help.convert(20);
			font-weight: help.$font-weight-m;
			text-transform: capitalize;
			line-height: 2;
		}

		.product__description{
			line-height: 1.4;
			font-weight: help.$font-weight-s;
		}

		.product__price{
			margin: 15px 0;

			.price{
				display: inline-flex;

				&__value{
					font-weight: help.$font-weight-m;
					font-size: help.convert(20);
				}

				&__discount{
					margin-left: 10px;
					background: help.font-light(help.$primary, .2);
					padding: 2px 5px ;
					color: help.$primary;
					border-radius: 5px;
					font-size: help.convert(13);
					font-weight: help.$font-weight-m;
				}
			}

			.product__discount{
				margin-top: 10px;
				text-decoration: line-through;
				color: help.font-light(black,.4);
			}
		}

		// product buttons
		.product__cta{
			margin: 3rem 0;	

			>*{
				font-weight: help.$font-weight-m;
				border: none;
				outline: none;
				cursor: pointer;
				margin: 0 .8rem;
			}

			.cta__count{
				color: initial;
				font-size: 1rem;
			}

			.cta__plus,.cta__minus{
				padding: 10px;
				color: help.$primary;
				font-size: 1.3rem;
			}

			.cta__add{
				padding: 15px 25px;
				font-size: small;
				text-transform: capitalize;
				background: help.$primary;
				color: help.$white;
				border-radius: 10px;
				box-shadow: 0px 2px 10px help.font-light(help.$primary, .3);
			}
		}
	}
}




// before gallery , this will open when user touch or click the list of images 

.before__gallery{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	background-color: help.font-light(black,.5);
	z-index: 10;
	overflow: hidden;
	display: grid;
	place-content: center;

	.gallery__main{
		width: 100%;
		height: fit-content;
		padding: 10px;
		position: relative;

		// arrows 
		@include help.arrows(inherit);

		.close{
			font-size: 2rem;
			font-weight: 500;
			text-align: right;
			padding: 10px;
			color: help.$white;
			
			i{
				cursor: pointer;
			}
		}

		.main__image{
			// main picture mixin
			@include help.main-picture;
		}
	}

	// picture list mixin
	@include help.picture-list;

	// bf pic
	.bf__pic {
		cursor: default !important;

		&::after{
		display: none;
		}
	}
}

// display class
.display{
	display: none;
}

// media query  tablet 
@include help.media-tablet {
	.main{	
		grid-template-columns: 1fr;
	
		&__gallery{
			margin: 2rem 0;
		}
	}
}


// media query mobile 
@include help.media-mobile{
	.main{
		width: 100%;
		height: auto;
	
		.gallery__picture{
			min-width: 100%;
			padding: 0;

			// arrows 
			@include help.arrows(help.$visible);
			
			img{
				border-radius: 0;
			}
		}

		.picture__list{
			display: none;
		}

	}
}
